streamlit==1.46.0
openai==1.58.1
python-dotenv==1.0.1
firebase-admin==6.9.0
google-api-python-client
google-cloud-firestore
google-cloud-storage
gitpython
pandas
numpy
matplotlib
extra-streamlit-components==0.1.60
itsdangerous==2.1.2
requests
httpx
toml
